<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost:94</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>rp3.market.force</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Rp3.Data.Entity.DbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Rp3.Data.Entity.DbContext, Rp3.Core" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Rp3.Data.DbConnection.DbContextManager" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Rp3.Data.DbConnection.DbContextManager, Rp3.Core" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Context" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Rp3.AgendaComercial.Models.Context, Rp3.AgendaComercial.Models" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ManagerDb" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=Rp3MarketForce;User ID=&quot;Okp5kq+aGI8COrjSYlXSEg==&quot;;Password=&quot;Okp5kq+aGI8COrjSYlXSEg==&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ManagerDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=Rp3MarketForce;user Id=Okp5kq+aGI8COrjSYlXSEg==;password=Okp5kq+aGI8COrjSYlXSEg==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ManagerDb-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Rp3.Data.DbConnection.DbContextManager-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Rp3.Data.Entity.DbContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Rp3.Data.DbConnection.DbContextManager" />
    <_ConnectionStringsToInsert Include="Rp3.Data.Entity.DbContext" />
  </ItemGroup>
</Project>